{:port 2829
 :db-username ""
 :db-password ""
 :db-name ""
 
 :require-auth false
 :username ""
 :password ""

 ; Should the instance start collecting or just serve?
 :collect false

 ; DOI reverse guessing service. Can configure to run locally if you want.
 :guess-doi-server "http://destinations.labs.crossref.org/guess-doi"


 :instance-name "banana"
 :enabled-source :wikimedia-dois
 :source-config {:wikimedia-dois {:subscribe "en.wikipedia.org"}
                 :gnip-dois {:username "XYZ" :password "XYZ" :url "http://example.com" :charset "UTF-8"}}}