{:port 2829
 :db-username ""
 :db-password ""
 :db-name ""
 :enabled-source :wikimedia
 :source-config {:wikimedia {:subscribe "en.wikipedia.org"}
                 :gnip {:username "XYZ" :password "XYZ" :url "http://example.com" :charset "UTF-8"}}}