{% extends "templates/base.html" %}

{% block "content" %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
    
        <link href='/lib/font-awesome/css/font-awesome.min.css' media='screen' rel='stylesheet' type='text/css' />
        <script src="/lib/react/react.js"></script>
        <script src="/lib/react/JSXTransformer.js"></script>
        <script src="/lib/moment/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

        <script>
        window.vocab = {{source.vocab|json|safe}};
        </script>

        <script type="text/jsx">

        window.counter = (function() {
            var count = 0;

            return function() {
                count ++;
                return count;
            }})();

        var Entry = React.createClass({
            render: function() {
                var item = this.props.item;

                return (<tr>
                        <td><div><small>{item['input-container-title']}</small></div>
                            <div className="itemTitle"><i className='fa-external-link'></i><a href={item.url}>{item.title}</a></div>
                            <a href={item.url}><i className="fa fa-external-link"></i>&nbsp;{item['pretty-url']}</a>
                        </td>
                        <td className="citeAction"><a href={item['action-url']}><strong>{item.action}</strong></a> <br />
                        {moment(item.date).calendar()}
                        </td>
                        <td>
                        <div><small>{item.fromApi && item.fromApi.type}</small></div>
                        <div className="itemTitle"><a href={"http://doi.org/" + item.doi}>{item.fromApi && item.fromApi.title}</a></div>
                        <div>{item.fromApi && item.fromApi.containerTitle}</div>
                        <div>Authors: {item.fromApi &&  item.fromApi.authors}</div>
                        <div><a href={"http://doi.org/" + item.doi}><i className="fa fa-external-link"></i>&nbsp;{item.doi}</a></div>
                        </td>
                    </tr>);
            }
        });

        var StreamTable = React.createClass({
            getInitialState: function () {
                return {items: [],
                    connectionAttempts: 0,
                    liveState: 'live'};
            },

            componentDidMount: function () {
                this.attemptConnect();

                this.fetchPage(null);
            },

            // fetch numbered page or the first page
            fetchPage: function(offset) {

                q = "";
                if (offset) {
                    q = "?start=" + offset;
                }

                var self = this;

                // When we request a page, replace the entire events list.
                $.get("/events" + q).success(function(response) {
                    var items = response.events;

                    for (var i = 0; i < items.length; i++) {
                        items[i].key = counter();
                    }


                    self.setState({items: items});

                    for (var i = 0; i < items.length; i++) {
                        self.checkDoi(items[i].doi, items[i].key);
                    }

                    window.scrollTo(0,0);
                });

            },

            // Start viewing live stream.
            navigateLive: function() {
                this.setState({liveState: 'live'});
                this.fetchPage(null);
            },

            navigatePage: function(offset) {
                // liveSincePage is set every time a live event comes in.
                this.setState({liveState: 'page', liveSincePage: false});
                this.fetchPage(offset);
            },

            attemptConnect: function () {
                var self = this;

                this.setState({
                    connectionAttempts: this.state.connectionAttempts + 1,
                    error: false,
                    // Can be 'live' or 'page'.
                    liveState: 'live'
                });

                var port = ":" + (window.location.port || "80");
                var socketUrl =  "ws://" + window.location.hostname + port + "/socket/events" ;
                
                socket = new WebSocket(socketUrl);

                socket.onmessage = function(item) {
                    // If we're viewing a page, don't add new events to list.
                    if (self.state.liveState === 'page') {
                        self.setState({eventsSincePage: true});
                        return
                    }

                    var count = counter();

                    var data = JSON.parse(item.data);

                    // Set unique key for event (react needs this).
                    data.key = count;
                    var items = self.state.items;
                    items.unshift(data);

                    // Limit to 50.
                    items = items.slice(0, 20);

                    self.setState({items: items});
   
                    self.checkDoi(data.doi, data.key);
                };

                socket.onerror = function() {
                    self.setState({error: true});
                    setTimeout(function(){self.attemptConnect()}, 2000);
                }
            },

            checkDoi: function(doi, key) {
                var self = this;

                // Only add if the API says it's OK.
                $.get("http://api.crossref.org/v1/works/" + doi).
                success(function(response) {
                    var items = self.state.items;
                    var index = null;

                    for (i = 0; i < items.length; i++) {
                        if (items[i].key == key) {
                            index = i;
                            break;
                        }
                    }

                    var title = response && response.message && response.message.title[0];
                    var typeLabel = response && response.message && response.message.type;
                    var type = itemTypes[typeLabel] || "";
                    var containerTitle = response && response.message && response.message['container-title'][0] || "";
                    var authors = response && response.message && response.message.author;
                    var formattedAuthors = authors && authors.map(function(author) {
                        var name = author.family;
                        if (author.given && author.given.length > 0) {
                            name = name + ", " + author.given[0];
                        }
                        return name}).join(", ");

                    if (index !== null) {
                        items[i].fromApi = {title: title, type: type, containerTitle: containerTitle, authors: formattedAuthors};
                    }

                    self.setState({items: items});

                }).fail(function(response) {
                    console.log("DOI was not recognised:", doi);

                    var items = self.state.items;
                    var index = null;

                    for (i = 0; i < items.length; i++) {
                        if (items[i].key == key) {
                            index = i;
                            break;
                        }
                    }

                    items = items.slice(0,index).concat(items.slice(index+1));
                    self.setState({items: items});
                });
            },

            render: function() {
                if (this.state.error) {
                    return <p className="error">Sorry there was an error connecting to the server. Please refresh the page or email labs@crossref.org if you are having continued problems. Number of attempts to connect: {this.state.connectionAttempts}.</p>
                }

                var lastItem = this.state.items[this.state.items.length -1];
                var lastId = lastItem && lastItem.id;

                // Group these per day.
                var allDaysWorth = [];
                var currentDaysWorth = [];
                var currentLabel = null;
                if (this.state.items) {
                    this.state.items.forEach(function(item) {
                        var itemDate = new Date(item.date);
                        var label = moment(itemDate).format('LL');

                        // First time round it's null.
                        currentLabel =  currentLabel || label;

                        if (label == currentLabel) {
                            currentDaysWorth.push(item);
                        } else {
                            allDaysWorth.push([currentLabel, currentDaysWorth]);
                            currentDaysWorth = [item];
                        }

                        currentLabel = label;

                    });

                    allDaysWorth.push([currentLabel, currentDaysWorth]);    
                }

                
                return <div>
                {(this.state.liveState === 'page' && this.state.eventsSincePage) ?
                    <p className="alert alert-info">There are new new events. <button className='btn' onClick={this.navigateLive}>View to live stream</button></p> : <span></span>}


                    {allDaysWorth.map(function(daysWorth) {
                    var dayLabel = daysWorth[0];
                    var items = daysWorth[1];

                    return  <div key={dayLabel}>

                        <h3>{dayLabel}</h3>
                        <table className="table table-striped event-table">
                         <thead>
                           <tr>
                             <th>from</th>
                             <th></th>
                             <th>to</th>
                           </tr>
                          </thead>
                          <tbody>
                            {items.map(function(item) {
                                return <Entry item={item} key={item.key} />
                            })}
                          </tbody>
                        </table></div>})}

                    {this.state.liveState === 'page' ? <button className='btn' onClick={this.navigateLive}>Back to live stream</button> : <span></span> }
                    <button onClick={this.navigatePage.bind(null, lastId)} className='btn btn-primary'>Older...</button>

                </div>
            }});

        var InfoBox = React.createClass({
            getInitialState: function() {
                return {status: {"input-history": [], "citation-history": []}};
            },

            fetch: function() {
                var self = this;
                $.get("/status").then(function(result){
                    self.setState({status: result});
                });
            },
            
            componentDidMount: function() {
                this.fetch();
                setInterval(this.fetch.bind(null, this), 1000);
            },


            render: function() {
                var maxValue = 100;

                var eventHistory = this.state.status['input-history'];
                var maxEvent = Math.max.apply(null, eventHistory) || 1;
                var eventMultiplier = maxValue / maxEvent;
                var numEdits = 0;
                if (eventHistory.length > 0) {
                    numEdits = eventHistory[0];
                }

//                eventHistory = eventHistory.map(function(x) { return Math.ceil(x * eventMultiplier)});
                eventHistory = eventHistory.map(function(x) { return {value: x, height: Math.ceil(x * eventMultiplier)}});

                var citationHistory = this.state.status['citation-history'];
                
                var maxCitation = Math.max.apply(null, citationHistory) || 1;
                var citationMultiplier = maxValue / maxCitation;
                var numCitations = 0;

                if (citationHistory.length > 0) {
                    numCitations = citationHistory[0];
                }

                citationHistory = citationHistory.map(function(x) { return {value: x, height: Math.ceil(x * citationMultiplier)}});


                var containerStyle = {"height": "100px", "width": "100%", "overflow": "hidden", "position": "relative"};
                return <div className='row'>
                        <div className='col-md-6'>
                            <div>{numEdits} <strong>{window.vocab['input-count-label']}</strong> in last <strong>5 seconds</strong></div>
                            <div style={containerStyle}>
                            <small>{maxEvent}</small>
                            {eventHistory.map(function(c, i) {
                                var style = {"height": c.height + "px", "width": "9px", "backgroundColor" : "#555", "display": "inline", "position": "absolute", "bottom": "0px", "left": (i + 2) * 10};
                                if (i == 0) {
                                    style.backgroundColor = "#aaa";
                                }
                                return <div style={style} key={i} title={c.value + " " + window.vocab['input-count-label']}>
                                          
                                        </div>
                            })}
                            </div>
                            
                        </div>
                        <div className='col-md-6'>
                            {numCitations} <strong>{window.vocab['citation-count-label']}</strong> in the last <strong>5 minutes</strong><br />
                            <div style={containerStyle}>
                            <small>{maxCitation}</small>
                            {citationHistory.map(function(c, i) {
                                var style = {"height": c.height + "px", "width": "9px", "backgroundColor" : "#555", "display": "inline", "position": "absolute", "bottom": "0px", "left": (i + 2) * 10};
                                if (i == 0) {
                                    style.backgroundColor = "#aaa";
                                }
                                return <div style={style} key={i} title={c.value + " " + window.vocab['citation-count-label']}>
                                        </div>
                            })} 
                            </div>
                        </div>
                       </div>
            }

        });

        React.render(
            <div>
            <InfoBox />
            <StreamTable />
            </div>,
            document.getElementById('content')
        );


        // from https://github.com/CrossRef/cayenne/blob/master/src/cayenne/item_tree.clj#L9
        window.itemTypes = {
            "journal":  "Journal",
            "article":  "Article",
            "journal-article":  "Journal Article",
            "journal-issue":  "Journal Issue",
            "journal-volume":  "Journal Volume",
            "proceedings":  "Proceedings",
            "proceedings-series":  "Proceedings Series",
            "proceedings-article":  "Conference Paper",
            "report":  "Report",
            "report-series":  "Report Series",
            "standard":  "Standard",
            "standard-series":  "Standard Series",
            "dataset":  "Dataset",
            "edited-book":  "Book",
            "monograph":  "Monograph",
            "reference-book":  "Reference",
            "book":  "Book",
            "book-series":  "Book Series",
            "book-set":  "Book Set",
            "chapter":  "Chapter",
            "section":  "Section",
            "part":  "Part",
            "track":  "Track",
            "reference-entry":  "Entry",
            "dissertation":  "Dissertation",
            "component":  "Component",
            "image":  "Image",
            "model":  "Model",
            "film":  "Film",
            "other":  "Other"};

        

        </script>

        <div class='container' id='content'>
        <p class="strong">If you are having problems viewing this page please email labs@crossref.org . This page requires JavaScript and a modern browser to work.</p>
        </div>
    </div>
  </div>
  
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
         This is a <a href="http://labs.crossref.org">Crossef Labs</a> project. The code is <a href="http://github.com/crossref/baleen">open source</a>. You can contact us a labs@crossref.org
      </div>
    </div>
  </div>
 </div>         
{% endblock %}


